<div class="container bg-primary-subtle">    
    <div class="row">
        <div class="col-8"> 
            
        </div>        
    </div>   
</div>

<div class="container">
    <div class="row" *ngFor="let p of products">
      <div class="col">
        <img (click)="selectProduct(p.id)" src="/assets/{{p.image}}.webp"
        class="p-3" [ngStyle]="{cursor: 'pointer'}"  width="500px"  alt="...">
      </div>  
      <div class="col">        
        <ul class="list-group p-3">
            <li class="list-group-item">{{p.name}}</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item"><atc [sections]="[]" [ordercode]="p.id"></atc></li>
          </ul>
      </div> 
    </div>
  </div>
