.conf-section{
    background-color:aquamarine;
    padding: 5px;

    span.title{
        width: 100%;
        border: 1px solid blueviolet;
        display: inline-block;
        text-align: center;
        background-color: blueviolet;
        color: aliceblue;
    }
}