
<div class="container mt-5">
    <div class="row mt-5">
        <h5 class="card-title mt-5">Price<a class="badge rounded-pill text-bg-info ms-2" href="price/desc/1">High to Low</a>
            <a class="badge rounded-pill text-bg-info ms-2" href="/price/1">Low to High</a>
        </h5>
    </div>
    <div class="row">
        <div *ngFor="let product of products" class="col-md-4" >
            <app-product [item]="product"></app-product>
        </div>
    </div>
    <div class="row p-2">
        <button class="btn btn-primary" (click)="loadMore()" 
        *ngIf="products.length < allProducts.length">Show More..</button>
    </div>
</div>
  
  