<div class="card mt-2">
    <a href="/product/{{ currentProduct?.name }}">
      <img style="height: 253px;" [src]="currentProduct?.image" class="card-img-top" alt="{{ currentProduct?.name }}">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{ currentProduct?.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{ currentProduct?.price | currency: "INR" }}</li>
      <li class="list-group-item">{{ currentProduct?.cc }} CC</li>
      <li class="list-group-item">Torque {{ currentProduct?.torque }} Nm &#64; {{ currentProduct?.torqueRpm }} RPM</li>
      <li class="list-group-item">Power {{ currentProduct?.maxPower }} HP &#64;{{ currentProduct?.maxPowerRpm }} RPM</li>
      <li class="list-group-item">Speed {{ currentProduct?.speed }} km/h</li>
      <li class="list-group-item">Gear: {{ currentProduct?.gear }}</li>
      <li class="list-group-item">Tank Capacity: {{ currentProduct?.tankCapacity }} liters</li>
    </ul>
    <div class="card-body">
      <a href="https://www.tvsmotor.com/book-online/select-variant" class="btn btn-success">Buy Now</a>
    </div>
  </div>