<div class="card mt-2">
    <a href="/product/{{ currentProduct?.name }}">
      <img style="height: 253px;" [src]="currentProduct?.image" class="card-img-top text-bg-light" alt="{{ currentProduct?.name }}">
    </a>
    <div class="card-body text-bg-success">
      <h5 class="card-title">{{ currentProduct?.name }}</h5>
      <p class="card-text" *ngIf="displayDesc">{{ currentProduct?.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: <span class="fw-medium">{{ currentProduct?.price | currency: "INR" }}</span></li>
      <li class="list-group-item">{{ currentProduct?.cc }} CC</li>
      <li class="list-group-item">Torque {{ currentProduct?.torque }} Nm &#64; {{ currentProduct?.torqueRpm }} RPM</li>
      <li class="list-group-item">Power {{ currentProduct?.maxPower }} kW &#64;{{ currentProduct?.maxPowerRpm }} RPM</li>
      <li class="list-group-item">Speed {{ currentProduct?.speed }} kmph</li>
      <li class="list-group-item">Gear: {{ currentProduct?.gear }}</li>
      <li class="list-group-item">Tank Capacity: {{ currentProduct?.tankCapacity }} liters</li>
    </ul>
    <div class="card-body text-center">
      <a href="{{ currentProduct?.buyUrl }}" class="btn btn-success">Buy Now</a>
    </div>
  </div>