<nav class="navbar bg-primary sticky-top">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="badge rounded-pill text-bg-warning">
            <a class="nav-link" aria-current="page" [routerLink]="['/price']">Ootru</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="badge rounded-pill text-bg-warning">
            <a class="nav-link" [routerLink]="['/power/desc/1']">Power</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="badge rounded-pill text-bg-warning">
            <a class="nav-link" [routerLink]="['/cc/desc/1']">CC</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="badge rounded-pill text-bg-warning">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </span>
        </li>
      </ul>
    </div>
  </nav>