<nav class="navbar bg-primary sticky-top">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item border border-white" >
          <a class="nav-link active" aria-current="page" [routerLink]="['/price']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/power/desc/1']">Power</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/cc/desc/1']">CC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/about']">About</a>
        </li>
      </ul>
    </div>
  </nav>